body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{font-size: 50px;}
h2{
    font-size: 40px;
}
p{
    color: rgb(68, 16, 16);
}
.name-light{color: gold;}
.h-w{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.h-w img{
    width: 100%;
}
.top-b{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-b{
    text-decoration: none;
    background-image: linear-gradient(45deg, white, black);
    padding: 10px 20px;
    border-radius: 5px;
    color: red;
    font-weight: 700;
}
.d-a{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.s-e{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 90%;
    background-color: white;
}
.e-a{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#f-s{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, white, black);
    border-image-slice: 1;
}
#ll-c{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
}